<%- include('./partials/header') %>

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"><% if(editing) { %>Mitarbeiter ändern<% } else { %>Neuen Mitarbeiter anlegen<% } %></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active"><% if(editing) { %>Mitarbeiter bearbeiten<% } else { %>Neuen Mitarbeiter anlegen<% } %></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements disabled -->
                    <div class="card card-dark">
                        <div class="card-header">
                            <h3 class="card-title"><% if(editing) { %>Mitarbeiter bearbeiten<% } else { %>Neuer Mitarbeiter<% } %></h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form id="frm_neuer_ma" name="frm_neuer_ma" method="POST" action="<% if(editing) { %>/mitarbeiter-bearbeiten<% } else { %>/neuer-mitarbeiter<% } %>" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Anrede</label>
                                            <select class="form-control" placeholder="..." name="anrede">
                                                <option value="keine" <% if(editing && ma.anrede === 'keine') { %>selected<% } %>>keine</option>
                                                <option value="Herr" <% if(editing && ma.anrede === 'Herr') { %>selected<% } %>>Herr</option>
                                                <option value="Frau" <% if(editing && ma.anrede === 'Frau') { %>selected<% } %>>Frau</option>
                                                <option value="andere" <% if(editing && ma.anrede === 'andere') { %>selected<% } %>>andere</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Vorname</label>
                                            <input required type="text" class="form-control" placeholder="..." value="<% if(editing) { %><%= ma.vorname %><% } %>"
                                                name="vorname">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Nachname</label>
                                            <input required class="form-control" type="text" placeholder="..." value="<% if(editing) { %><%= ma.nachname %><% } %>"
                                                name="nachname">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>E-Mail</label>
                                            <input type="email" class="form-control" placeholder="E-Mail" name="email" value="<% if(editing) { %><%= ma.email %><% } %>">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- textarea -->
                                        <div class="form-group">
                                            <label>Telefon</label>
                                            <input class="form-control" type="tel" name="telefon" value="<% if(editing) { %><%= ma.telefon %><% } %>">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Geburtsdatum</label>
                                            <input class="form-control" type="date" name="geburtsdatum" value="<% if(editing) { %><%= ma.geburtsdatum %><% } %>">
                                                
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- textarea -->
                                        <div class="form-group">
                                            
                                            <% if(editing && ma.profilbild) { %>
                                                <label>Bild löschen?</label>
                                                <input class="form control" type="checkbox" id="deleteBildma" name="deleteBildma">
                                               <img class="form control direct-chat-img" src="<%= ma.profilbild %>" alt="profilbild">
            
                                               
                                            <% } else { %>
                                            <label>Bild (optional)</label>
                                            <% } %>
                                            <input type="file" class="form-control" id="profilbild" name="profilbild">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Honorar / Stunde</label>
                                            <input required class="form-control" type="number" min="0" step="0.01" name="honorar" value="<% if(editing) { %><%= ma.honorar %><% } %>">
                                            
                                                
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Qualifikationen</label>
                                            <textarea required class="form-control" name="qualifikationen">
                                                <% if(editing) { %><%= ma.qualifikationen %><% } %>
                                            </textarea>
                                                
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- textarea -->
                                        <div class="form-group">
                                            <label>PLZ</label>
                                            <input required type="text" class="form-control" name="plz" value="<% if(editing) { %><%= ma.plz %><% } %>" >
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Ort</label>
                                            <input required class="form-control" type="text" name="ort" value="<% if(editing) { %><%= ma.ort %><% } %>" >                                                
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- textarea -->
                                        <div class="form-group">
                                            <label>Straße</label>
                                            <input required required type="text" class="form-control" name="strasse" value="<% if(editing) { %><%= ma.strasse %><% } %>">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Land</label>
                                            <input required class="form-control" type="text" name="land" value="<% if(editing) { %><%= ma.land %><% } else{%>Deutschland<% } %>" >                                              
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="maId" value="<% if(editing) { %><%= ma.id %><% } %>">
                                <button class="btn btn-dark" type="submit">Speichern</button>
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <%- include('./partials/footer') %>